apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
data:
  POSTGRES_USER: your_postgres_username_(Base64_encoded)        # Base64 encoded username
  POSTGRES_PASSWORD: your_postgres_password_(Base64_encoded)      # Base64 encoded password
  POSTGRES_DB: _your_postgres_database_name_(Base64_encoded)      # Base64 encoded database name

#use command from project's root directory: kubectl create -f DeploymentTools/kubernetes/.